<div class="section-container align-vertical-center">
    <div class="tight-optional-background {{ section.settings.bg_color }} {{ section.settings.bg_height }} {{ section.settings.display_bg }}"></div>
    <div class="flex-big-container">
        <div class="main-text-ht">
            <div class="content-text-container">
                <h2 class="huge-title size-{{ section.settings.title_size }}">{{ section.settings.big_title }}</h2>
                <p class="text-promotion content-{{ section.settings.content_size }}">{{ section.settings.content }}</p>
                {% if section.settings.final_link %}
                    <a href="{{ section.settings.final_link }}" class="learn-more">{{ section.settings.button_text }}</a>
                {% endif %}
            </div>
        </div>
        <img class="img-align" src="{{ section.settings.side_image | img_url: 'master'  }}" alt="side image">
    </div>
</div>

{% schema %}
    {
        "name": "big title and image",
        "class": "big-title",
        "settings": [
            {
                "type": "text",
                "id": "big_title",
                "label": "big title",
                "default": "this is the title"
            },
            {
                "type": "range",
                "id": "title_size",
                "min": 50,
                "max": 100,
                "default": 95,
                "step": 5,
                "label": "title size"
            },
            {
                "type": "text",
                "id": "content",
                "label": "content",
                "default": "in this field you gotta write the content"
            },
            {
                "type": "range",
                "id": "content_size",
                "min": 10,
                "max": 18,
                "default": 14,
                "step": 2,
                "label": "content size"
            },
            {
                "type": "image_picker",
                "id": "side_image",
                "label": "side image"
            },
            {
                "type": "url",
                "id": "final_link",
                "label": "bottom link"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "button text",
                "default": "button"
            },
            {
                "type": "checkbox",
                "id": "display_bg",
                "default": "hide"
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "tight background color"
            },
            {
                "type": "range",
                "id": "bg_height",
                "label": "background height",
                "min": 1,
                "max": 4,
                "step": 1,
                "default": 2
            }
        ],
        "presets": [
            {
                "category": "big title",
                "name": "big title left"
            }
        ]
    }
{% endschema %}