<div class="section-container align-vertical-center">
    {% if section.settings.display_bg %}
        <div style="background-color: {{ section.settings.bg_color }};" class="tight-optional-background tight-{{ section.settings.bg_height }} {{ section.settings.display_bg }}"></div> 
    {% endif %}
    <div class="flex-big-container">
        <div class="main-text-ht">
            <div class="content-text-container {{ section.settings.text_width }}">
                <h2 style="color: {{ section.settings.font_color }}" class="huge-title {{ section.settings.font_style }} size-{{ section.settings.title_size }}">{{ section.settings.big_title }}</h2>
                <p style="color: {{ section.settings.font_color }}" class="text-promotion content-{{ section.settings.content_size }}">{{ section.settings.content }}</p>
                {% if section.settings.final_link %}
                    <a href="{{ section.settings.final_link }}" class="{{ section.settings.button_style }}">{{ section.settings.button_text }}</a>
                {% endif %}
            </div>
        </div>
        <img class="img-align" src="{{ section.settings.side_image | img_url: 'master'  }}" alt="side image">
    </div>
</div>

{% schema %}
    {
        "name": "big title and image",
        "class": "big-title",
        "settings": [
            {
                "type": "select",
                "id": "text_width",
                "label": "text container width",
                "default": "left-bg-txt-container",
                "options":[
                    {
                        "label": "wide",
                        "value": "left-bg-txt-container"
                    },
                    {
                        "label": "fit-content",
                        "value": "left-bg-txt-fit"
                    }
                ]
            },
            {
                "type": "color",
                "id": "font_color",
                "label": "font color",
                "default": "#000000"
            },
            {
                "type": "text",
                "id": "big_title",
                "label": "big title",
                "default": "this is the title"
            },
            {
                "type": "range",
                "id": "title_size",
                "min": 30,
                "max": 100,
                "default": 95,
                "step": 5,
                "label": "title size"
            },
            {
                "type": "select",
                "id": "font_style",
                "label": "font family",
                "default": "arial",
                "options": [
                    {
                        "label": "Arial",
                        "value": "arial"
                    },
                    {
                        "label": "Arial italic",
                        "value": "arial-italic"
                    },
                    {
                        "label": "Playfair",
                        "value": "Playfair"
                    },
                    {
                        "label": "Playfair italic",
                        "value": "Playfair-italic"
                    },
                    {
                        "label": "Times new roman",
                        "value": "times-new-roman"
                    },
                    {
                        "label": "Times new roman italic",
                        "value": "times-new-roman-italic"
                    }
                ]
            },
            {
                "type": "select",
                "id": "text_vertical",
                "label": "text vertical align",
                "default": "top-middle",
                "options": [
                    {
                        "label": "center",
                        "value": "top-middle"
                    },
                    {
                        "label": "5%",
                        "value": "top-5"
                    },
                    {
                        "label": "10%",
                        "value": "top-10"
                    },
                    {
                        "label": "15%",
                        "value": "top-15"
                    }
                ]
            },
            {
                "type": "text",
                "id": "content",
                "label": "content",
                "default": "in this field you gotta write the content"
            },
            {
                "type": "range",
                "id": "content_size",
                "min": 10,
                "max": 18,
                "default": 14,
                "step": 2,
                "label": "content size"
            },
            {
                "type": "image_picker",
                "id": "side_image",
                "label": "side image"
            },
            {
                "type": "url",
                "id": "final_link",
                "label": "bottom link"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "button text",
                "default": "button"
            },
            {
                "type": "select",
                "id": "button_style",
                "default": "learn-more",
                "label": "button style",
                "options": [
                    {
                        "label": "underlined link",
                        "value": "learn-more"
                    },
                    {
                        "label": "square button",
                        "value": "another-button another-secondary-button"
                    }
                ]
            },
            {
                "type": "checkbox",
                "id": "display_bg",
                "label": "display background",
                "default": false
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "tight background color"
            },
            {
                "type": "range",
                "id": "bg_height",
                "label": "background height",
                "min": 1,
                "max": 4,
                "step": 1,
                "default": 2
            }
        ],
        "presets": [
            {
                "category": "big title",
                "name": "big title left"
            }
        ]
    }
{% endschema %}