<div class="section-container">
    <div class="container-flex">
        {% for block in section.blocks %}
            <div class="centered-collection">
                <div class="inner-relative">
                    <img src="{{ block.settings.bg_img | img_url: 'master'  }}" alt="collection" class="img-absolute">
                </div>
                <div class="link-n-text">
                    <h3 class="collection-link-text">{{ block.settings.collection_title }}</h3>
                    <a href="{{ block.settings.collection_link }}" class="link {{ block.settings.button_style }}">{{ block.settings.button_text }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
    {
        "name": "collection link",
        "class": "collection-link",
        "max_blocks": 3,
        "blocks": [
            {
                "type": "text",
                "name": "background link",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "bg_img",
                        "label": "background image"
                    },
                    {
                        "type": "text",
                        "id": "collection_title",
                        "label": "collection title",
                        "default": "title"
                    },
                    {
                        "type": "url",
                        "id": "collection_link",
                        "label": "collection link"
                    },
                    {
                        "type": "text",
                        "id": "button_text",
                        "label": "button text"
                    },
                    {
                        "type": "select",
                        "id": "button_style",
                        "label": "Button style",
                        "options": [
                            {
                                "value": "feature-link",
                                "label": "Link"
                            },
                            {
                                "value": "button",
                                "label": "Primary button"
                            },
                            {
                                "value": "button button--alt",
                                "label": "Secondary button"
                            }
                        ],
                        "default": "feature-link"
                    }
                ]
            }
        ],
        "presets": [
            {
                "category": "collections",
                "name": "collection link"
            }
        ]
    }
{% endschema %}
