<div class="FAQ-section">
    <h1 class="FAQ-header Nanum-Myeongjo">{{ section.settings.title }}</h1>
    {% for block in section.blocks %}
        {% assign count = count | plus: 1 %}
        <div class="ask-container">
            <div class="the-question top-bottom-border">
                <h3 class="question work-sans">{{ block.settings.ask  }}</h3>
                <button id="toggle-{{ count }}" class="show-answer"><span class="mdi mdi-plus"></span></button>
            </div>
            <div id="answer-{{ count }}" class="the-answer collapsed">
                <p class="answer work-sans">{{ block.settings.answer }}</p>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    let questions = document.getElementsByClassName("ask-container")

    for (let i = 1; i <= questions.length; i++) {
        document.getElementById(`toggle-${i}`).onclick = () => {
            document.getElementById(`answer-${i}`).classList.toggle("collapsed")
        }
        
    }
</script>

{% schema %}
    {
        "class": "FAQ",
        "name": "FAQ",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Frequeny Asked Questions"
            }
        ],
        "blocks": [
            {
                "type": "text",
                "name": "asks",
                "settings": [
                    {
                        "type": "text",
                        "id": "ask",
                        "label": "enter your ask",
                        "default": "the ask"
                    },
                    {
                        "type": "text",
                        "id": "answer",
                        "label": "enter the answer",
                        "default": "the answer"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "FAQ"
            }
        ]
    }
{% endschema %}