<div style="max-height: {{ section.settings.height }}00px" id="first-section" class="section-container">
  <div style="min-height: {{ section.settings.height }}00px" class="img-bg-container align-{{ section.settings.horizontal_align  }}">
    {% if section.settings.mobile_bg %}
      <img class="img img-hidden" src="{{ section.settings.mobile_img | img_url: 'master'  }}" alt="top mobile">
      <img class="img main-img" src="{{ section.settings.background | img_url: 'master'  }}" alt="top">
    {% else %}
      <img style="max-height: {{ section.settings.height }}00px" class="img" src="{{ section.settings.background | img_url: 'master'  }}" alt="top">
    {% endif %}
    <div class="{% if section.settings.text_box_wide %}optional-text-container{% else %} text-container{% endif %} v-align-{{ section.settings.vertical_align  }}">
      {% if section.settings.title %}
        <h3 class="text-header font-{{ section.settings.font_color }}">{{ section.settings.title }}</h3>
      {% endif %}

      <p class="main-text font-{{ section.settings.font_color }}">{{ section.settings.content }}</p>

      {% if section.settings.button_link %}
        <div>
          <a class="new-button new-secondary-button" href="{{ section.settings.button_link  }}">{{ section.settings.button_text }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "big image and text",
    "class": "big-image",
    "settings": [
      {
        "type": "image_picker",
        "id": "background",
        "label": "background"
      },
      {
        "type": "image_picker",
        "id": "mobile_img",
        "label": "mobile background image"
      },
      {
        "type": "checkbox",
        "id": "mobile_bg",
        "label": "mobile background?"
      },
      {
        "type": "text",
        "id": "title",
        "label": "title",
        "default": "some title"
      },
      {
        "type": "text",
        "id": "content",
        "label": "content",
        "default": "this is the main content"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "button link"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "button text",
        "default": "button"
      }, 
      {
        "type": "checkbox",
        "id": "text_box_wide",
        "label": "make text box wide?",
        "default": false
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "options": [
          {
            "value": "feature-link",
            "label": "Link"
          }, {
            "value": "button",
            "label": "Primary button"
          }, {
            "value": "button button--alt",
            "label": "Secondary button"
          }
        ],
        "default": "feature-link"
      }, {
        "type": "select",
        "id": "font_color",
        "label": "font color",
        "default": "white",
        "options": [
          {
            "value": "white",
            "label": "White font color"
          }, {
            "value": "black",
            "label": "Black font color"
          }, {
            "value": "gray",
            "label": "Gray font color"
          }
        ]
      }, {
        "type": "range",
        "id": "horizontal_align",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 1,
        "label": "horizontal align"
      }, {
        "type": "range",
        "id": "vertical_align",
        "min": 1,
        "max": 12,
        "step": 1,
        "default": 1,
        "label": "vertical align"
      },
      {
        "type": "range",
        "id": "height",
        "label": "section height",
        "max": 7,
        "min": 4,
        "default": 6,
        "step": 1
      }
    ],
    "presets": [
      {
        "category": "top",
        "name": "top image section"
      }
    ]
  }
{% endschema %}