<div id="new-header-container" class="new-header">
    <div id="menu-full-width" class="menu-container menu-links-1">
        <nav id="navbar-full-width" class="navbar-links">
            {% for link in linklists[section.settings.menu_linklist].links %}
                <div class="each-link">
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </div>
            {% endfor %}
        </nav>
    </div>
    <div id="menu-mobile-button">
        <summary tabindex="-1">
            <button id="toggle-menu" class="main-menu-toggle" type="button" aria-controls="main-menu" aria-label="{{ 'layout.header.menu' | t | escape }}">
                <div id="mobile-button-lines" class="icon-burger">
                    <span class="line line-1"></span>
                    <span class="line line-2"></span>
                    <span class="line line-3"></span>
                </div>
            </button>
        </summary>
    </div>
    
    <div class="logo-header-container">
        <img width="{{ section.settings.logo_width }}" src="{{ section.settings.logo-img | img_url: 'master' }}" alt="logo">
    </div>
    <div id="link-icons" class="items-container">
        <i id="heart-link" class="heart-icon-centered fa-regular fa-heart"></i>
        {%- if settings.enable_search -%}
            <span class="header-items__item header-items__search-link">
                <a id="search-link-glass" href="{{ routes.search_url }}" class="header-search-toggle" aria-label="{{ 'layout.header.search' | t | escape }}">
                {% render 'svg-search' %}
                </a>
            </span>
        {%- endif -%}
        <span id="account-link" class="center-icons header-items__item header-items__account-link hide-until-sm">
            <a href="{{ routes.account_url }}" aria-label="{{ 'layout.customer.log_in' | t | escape }}">
                <span class="cart-link-icon cart-link-icon__account">{% render 'svg-account' %}</span>
            </a>
        </span>

        <span class="center-icons header-items__item header-items__cart-link">
            <a href="{{ routes.cart_url }}" aria-label="{{ 'layout.header.cart' | t | escape }}">
              <span class="cart-link-icon">{% render 'svg-cart' %}</span>
              {% if cart.item_count > 0 %}<span class="cart-count">({{ cart.item_count }})</span>{% endif %}
            </a>
        </span>
    </div>
</div>
{%- if settings.enable_search -%}
    <div id="right-search-form" class="header-search search-box no-js-hidden">
        <button id="close-search-form" type="button" class="side-drawer__close-btn" aria-label="{{ 'general.accessibility_labels.close' | t | escape }}">{% render 'svg-x' %}</button>

        <div class="header-search__content">
        <h2 class="search-header-title">{{ 'layout.search.title' | t }}</h2>
        <form method="get" action="{{ routes.search_url }}" autocomplete="off">
            <input type="hidden" name="type" value="{{ settings.search_type }}">
            <input type="hidden" name="options[prefix]" value="last">
            <div class="input-with-button">
            <div class="input-with-button__input-wrapper input-with-clear">
                <input class="input-with-button__input input" type="search" name="q" placeholder="{{ 'layout.search.placeholder' | t | escape }}" autocomplete="off" data-previous-value="" aria-label="{{ 'layout.search.placeholder' | t | escape }}">
                <button class="input-with-clear__clear" type="button">{% render 'svg-close' %}</button>
            </div>
            <button class="button" type="submit">{{ 'layout.search.submit' | t }}</button>
            </div>
        </form>
        <div class="header-search__results-wrapper"
            data-live-search-vendor="{{ settings.live_search_show_vendor }}"
            data-live-search-meta="{{ settings.live_search_search_meta }}">
            <div class="header-search__placeholder">
            {%- for i in (1..5) -%}
                <div class="search-result search-result--placeholder">
                <div class="search-result__link">
                    <div class="search-result__image"></div>
                    <div class="search-result__detail">
                    {%- if settings.live_search_show_vendor -%}
                        <div class="search-result__vendor"></div>
                    {%- endif -%}
                    <div class="search-result__title"></div>
                    <div class="search-result__price"></div>
                    </div>
                </div>
                </div>
            {%- endfor -%}
            </div>
            <div class="header-search__results"></div>
        </div>

        {%- if section.settings.search_menu_linklist != blank and linklists[section.settings.search_menu_linklist].links.size > 0 -%}
            <div class="header-search__nav">
            {%- if section.settings.search_menu_title != blank -%}
                <h3 class="header-search__small-heading h6 meta">{{ section.settings.search_menu_title }}</h3>
            {%- endif -%}

            <ul class="header-search__links unstyled-list">
                {%- for link in linklists[section.settings.search_menu_linklist].links -%}
                <li class="header-search__links-item">
                    <a href="{{ link.url }}">{{ link.title | strip }}</a>
                </li>
                {%- endfor -%}
            </ul>
            </div>
        {% endif %}
        </div>
    </div>
{%- endif -%}
<div id="left-hidden-menu-box" class="left-hidden-menu-box">
    <span id="close" class="close mdi mdi-window-close">{{ 'general.accessibility_labels.close' | t }}</span>
        <div class="first-left-container">
            <nav class="vertical-flex-links">
                {% for link in linklists[section.settings.menu_linklist].links %}
                    <div class="link-mobile-menu-container">
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    </div>
                {% endfor %}
            </nav>
        </div>
    </div>

<div id="product-filter-menu" class="product-filter-menu">
    <div class="first-filter-container">
        {% for block in section.blocks %}
            <nav class="filter-menu">
                {% for link in linklists[block.settings.filter_menu_list].links %}
                    <div class="menu-links-container">
                        <a href="{{ link.url }}" class="link-filter">{{ link.title }}</a>
                    </div>
                {% endfor %}
            </nav>
        {% endfor %}
    </div>
</div>
{% schema %}
    {
        "name": "new-header",
        "class": "new-header-section",
        "settings": [
            {
                "type": "image_picker",
                "label": "logo",
                "id": "logo-img"
            },
            {
                "type": "image_picker",
                "id": "alt_logo",
                "label": "Contrast logo",
                "info": "Optional logo used when over the header slideshow and images."
            },
            {
                "type": "range",
                "id": "logo_width",
                "min": 50,
                "max": 250,
                "step": 5,
                "unit": "px",
                "label": "Maximum logo width",
                "info": "Logo height is restricted to 150px.",
                "default": 150
            },
            {
                "type": "header",
                "content": "Layout"
            },
            {
                "type": "checkbox",
                "id": "enable_sticky",
                "label": "Stick to top of screen on scroll",
                "default": true
            },
            {
                "type": "header",
                "content": "Navigation"
            },
            {
                "type": "link_list",
                "id": "menu_linklist",
                "label": "Menu",
                "default": "main-menu"
            }
        ],
        "max_blocks": 4,
        "blocks": [
            {
                "type": "text",
                "name": "filter links menu",
                "settings": [
                    {
                        "type": "link_list",
                        "id": "filter_menu_list",
                        "default": "main-menu",
                        "label": "filter list menu"
                    }
                ]
            },
            {
                "type": "textarea",
                "name": "image block",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "block_img",
                        "label": "image block"
                    },
                    {
                        "type": "text",
                        "id": "img_text_block",
                        "label": "optional image text"
                    }
                ]
            }
        ]
    }
{% endschema %}