<div style="background-color: {{ section.settings.footer_bg_color }};" class="new-footer-container">
    <div class="flex-menus-footer">
        {% if section.settings.newsletter %}
            <div class="newsletter-general-container">
                <div>
                    {% form 'customer', id: 'footer-signup-form' %}
                        <input type="hidden" name="contact[tags]" value="prospect,newsletter">
                        {% if section.settings.newsletter_heading != blank %}
                        <p class="newsletter-upper-text">{{ section.settings.newsletter_heading }}</p>
                            
                        {% endif %}
                        <div class="input-and-button">
                            <div>
                                <input class="newsletter-new-input"
                                    type="email"
                                    name="contact[email]"
                                    value=""
                                    placeholder="{{ 'layout.signup.email' | t }}"
                                    aria-label="{{ 'layout.signup.email' | t | escape }}"
                                    required>
                            </div>
                            <button class="transparent-button" type="submit">{% render 'svg-right' %}</button>
                        </div>
                    {% endform %}
                </div>
            </div>
        {% endif %}
        <div class="blocks-flex-container">
            {% for block in section.blocks %}
                <nav class="filter-menu">
                    {% if block.settings.menu_title %}
                        <p class="menu-title">{{ block.settings.menu_title }}</p>
                    {% endif %}
                    {% for link in linklists[block.settings.menu_links].links %}
                        <div class="menu-links-container">
                            <a href="{{ link.url }}" class="link-filter">{{ link.title }}</a>
                        </div>
                    {% endfor %}
                </nav>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "New Footer",
        "class": "new-footer-section",
        "settings": [
            {
                "type": "checkbox",
                "id": "newsletter",
                "label": "show newsletter",
                "default": false
            },
            {
                "type": "text",
                "id": "newsletter_text",
                "label": "Newsletter upper text",
                "default": "Insert new text"
            },
            {
                "type": "color",
                "id": "footer_bg_color",
                "label": "footer background color",
                "default": "#e6f4f1"
            }
        ],
        "max_blocks": 4,
        "blocks": [
            {
                "type": "text",
                "name": "menu",
                "settings": [
                    {
                        "type": "link_list",
                        "id": "menu_links",
                        "label": "menu selection",
                        "default": "main-menu"
                    },
                    {
                        "type": "text",
                        "id": "menu_title",
                        "label": "menu custom title"
                    }
                ]
            }
        ]
    }
{% endschema %}